@model IEnumerable<TechnicalAssessment.Models.Reservation>

@{
    ViewBag.Title = "Reservations";
}

<h2>Reservations</h2>


<table class="table">
    <tr>
        <th>
            Booking number
        </th>
        <th>
            Book Name
        </th>
        <th>
            Reservation Time
        </th>

        <th>Action</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ReservationID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Book.bookName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.reservationTime)
    </td>

    <td>
        @Html.ActionLink("Delete", "Delete", new { id = item.ReservationID })
    </td>
</tr>
}

</table>
